---
const { data } = Astro.props;
---

<article data-categories={data.categories}>
  <a href={`/single/${data.id}`}>
    <img
      src={`https://vbpmdrgfyaoqwntxnhhw.supabase.co/storage/v1/object/public/products/${data.image}`}
      alt={data.name}
      width="300"
      height="250"
    />
    <div>
      <h2>{data.name}</h2>
      <p>kr. {data.price},-</p>
    </div>
  </a>
</article>

<style>
  a {
    text-decoration: none;
  }

  article img {
    border: 7px solid #3b7751;
    background-color: #f4dfdf;
    width: 320px;
    background-image: none;
  }

  div {
    background-color: #a3ad7e;
    width: 324px;
    padding: 5px;
    position: relative;
    bottom: 8vh;
  }
  h2 {
    margin: 0;
    color: #3c4b04;
    font-size: small;
  }
  p {
    color: #ffffff;
    font-size: 1.5vh;
  }
</style>
